@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Under Construction.</p>
    <a class=" btn-outline-info nav-link text-dark" asp-area="" asp-controller="Opsmanager" asp-action="Index">Opsmanager</a>
    <a class=" btn-outline-info nav-link text-dark" asp-area="" asp-controller="Dutymanager" asp-action="Index">Dutymanager</a>
    <a class=" btn-outline-info nav-link text-dark" asp-area="" asp-controller="Supervisor" asp-action="Index">Supervisor</a>


</div>
