@{
    ViewData["Title"] = "Operationsmanager";
}

<partial name="_navPartial" />

<div class="text-center">
    <h1 class="display-4">Welcome Operationsmanager</h1>
    <p>Under Construction</p>
</div>


