@model FACLSchichtbericht.Models.BerichtBD420Model

@{
    ViewData["Title"] = "Delete";
}
<partial name="_NavPartial" />
<h1>Löschen</h1>

<div>
    <h4>BerichtBD420</h4>
    <hr />
    <dl class="row">

        

    </dl>

    <form asp-action="DeleteBerichtBD420">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="IndexBerichtBD420">Back to List</a>
    </form>
</div>
