@model FACLSchichtbericht.Models.BerichtTransportModel

@{ ViewData["Title"] = "Delete"; }
<partial name="_NavPartial" />
<h1>Löschen</h1>

<div>
    <h4>Bericht Transport</h4>
    <hr />
    <dl class="row">
    </dl>

    <form asp-action="DeleteBerichtTransport">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="IndexBerichtTransport">Back to List</a>
    </form>
</div>

