<partial name="_navPartial" />
<p>
    <a asp-action="IndexBerichtBD420abgeschlossen">abgeschlossene Berichte: BD420 </a> ||
    <a asp-action="IndexBerichtBD420offen"> offene Berichte: BD420</a> ||
    <a asp-action="IndexBerichtBD420freigegeben"> freigegebene Berichte: BD420</a>

</p>
